:root{
    --primary-color: lightgreen;
     --secondary-color: black;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: lightgreen;
  }

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}



#icon{
    height: 40px;
    cursor: pointer;
    float: right;
}

nav h1{
  display:flex;
  justify-content: center;

  /* color:var(--primary-color); */
  text-decoration:underline;
  text-decoration-color:blue;
  
}
main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border:1px solid black;
}

