/* *{
    margin:0px
} */
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.heading{
    width: 100%;
    display:flex;
    justify-content: center;
    margin:auto;
    text-decoration:underline;
    
    /* border:1px solid black; */

}
.input_container{
    margin-top:10px;
    width:100%;
    display:flex;
    justify-content: center;

}

#input{
    width:100%;
    display:flex;
    justify-content:center;
    gap:15px;
}
#input :nth-child(1){
    width:50%;
}
.tasks_list{
    border:1px solid black;
    margin-top:30px;
    padding:5px;

    
}

.task{
    margin-top:10px;
    display:flex;
    gap:10px;
    width:600px;
    /* justify-content: space-around; */
    justify-content: center;
    padding:20px;
   
    background-color:grey;
    border-radius:5px;
}
.task .first{
    width: 100px;
    
    5;

}
.task .first input{
    width:100%;
    /* padding:auto 30px auto 10px; */
    border-radius:5px;
}
.button{
    background-color: orange;
    color:white;
    border-radius:5px;
}